<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  @* <h1>This is {{ name }}'s Contact Page!</h1> *@
  <h1>This is @ViewBag.Name @ViewBag.LastName's Page!</h1>
</body>
</html>